html {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

body {
  @apply bg-amber-50;
  padding: 0;
  margin: 0;
}
